a{background-color:transparent;}
a:active,a:hover{outline:0;}
small{font-size:80%;}
p{margin-top:0;margin-bottom:1pc;margin-bottom:1rem;}
a{color:#006fe8;text-decoration:none;}
a:hover{text-decoration:underline;}
::-moz-focus-inner{border:0;padding:0;}
.h6{font-size:9pt;font-size:.75rem;}
.bold{font-weight:700;}
.regular{font-weight:400;}
.block{display:block;}
.inline-block{display:inline-block;}
.border-box{box-sizing:border-box;}
.mb0{margin-bottom:0;}
.mt1{margin-top:8px;margin-top:.5rem;}
.mb1{margin-bottom:8px;margin-bottom:.5rem;}
.mxn1{margin-left:-8px;margin-left:-.5rem;margin-right:-8px;margin-right:-.5rem;}
.py1{padding-top:8px;padding-top:.5rem;padding-bottom:8px;padding-bottom:.5rem;}
.px1{padding-left:8px;padding-left:.5rem;padding-right:8px;padding-right:.5rem;}
.relative{position:relative;}
.col-12{width:100%;}
.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
@media (min-width:47.938em){
.md-flex{display:-webkit-box;display:-ms-flexbox;display:flex;}
}
.rounded{border-radius:.125rem;}
.gray{color:#444;}
.btn-small{padding:4px 8px;padding:.25rem .5rem;}
@media (min-width:47.938em){
.md-py1{padding-top:.5rem;padding-bottom:.5rem;}
}
.bg-silver-on-hover:focus,.bg-silver-on-hover:hover{background-color:#f1f1f1;}
.bg-light-silver{background-color:#f8f8f8;}
.no-underline-on-hover:focus,.no-underline-on-hover:hover{text-decoration:none;}
@media print{
*,:after,:before,:first-letter,:first-line{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p{orphans:3;widows:3;}
}
.flex-1{-webkit-box-flex:1;-ms-flex:1;flex:1;}
/*! CSS Used from: Embedded */
@media (min-width: 40em){
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
}
@media (min-width: 40em){
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
}
.rounded{border-radius:.125rem;}
.flex-2{flex:2;}
.m-small{margin:4px;margin:.25rem;}
.small-text{font-size:14px;font-size:.875rem;line-height:1.25;}
.medium-text{line-height:1.25;font-size:20px;font-size:1.25rem;}
.pb1{padding-bottom:8px;padding-bottom:.5rem;}
@media (min-width: 47.938em){
.md-pr3{padding-right:2pc;padding-right:2rem;}
}
/*! CSS Used from: Embedded */
::-webkit-scrollbar{width:8px!important;height:8px!important;background:transparent;border-radius:10rem!important;}
::-webkit-scrollbar-track{background:transparent!important;}
::-webkit-scrollbar-thumb{background-color:#ddd!important;border-radius:8px;}
::-webkit-scrollbar-thumb:hover{background-color:#ccc!important;-webkit-transition:background-color 0.2s linear!important;-moz-transition:background-color 0.2s linear!important;-o-transition:background-color 0.2s linear!important;transition:background-color 0.2s linear!important;}
::-webkit-scrollbar-thumb:active{background-color:#aaa!important;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
/*! CSS Used from: Embedded */
::-webkit-scrollbar-track{background-color:transparent!important;}
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}