/*! CSS Used from: https://iextrading.com/build/app.min.css */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
h2{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;}
h2{font-weight:700;line-height:1.25;margin-top:1em;margin-bottom:.5em;}
p{margin-top:0;margin-bottom:1pc;margin-bottom:1rem;}
h2{font-size:26px;font-size:1.625rem;}
a{color:#006fe8;text-decoration:none;}
a:hover{text-decoration:underline;}
::-moz-focus-inner{border:0;padding:0;}
.h6{font-size:9pt;font-size:.75rem;}
.bold{font-weight:700;}
.nowrap{white-space:nowrap;}
.break-word{word-wrap:break-word;}
.line-height-1{line-height:1;}
.inline-block{display:inline-block;}
.border-box{box-sizing:border-box;}
.align-top{vertical-align:top;}
.mt0{margin-top:0;}
.mb0{margin-bottom:0;}
.mr1{margin-right:8px;margin-right:.5rem;}
.mb1{margin-bottom:8px;margin-bottom:.5rem;}
.m2{margin:1pc;margin:1rem;}
.mxn1{margin-left:-8px;margin-left:-.5rem;margin-right:-8px;margin-right:-.5rem;}
.py1{padding-top:8px;padding-top:.5rem;padding-bottom:8px;padding-bottom:.5rem;}
.px1{padding-left:8px;padding-left:.5rem;padding-right:8px;padding-right:.5rem;}
.col-6{width:50%;}
.col-12{width:100%;}
@media (min-width:47.938em){
.md-col-6{width:50%;}
}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;}
.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
.rounded{border-radius:.125rem;}
.btn-small{padding:4px 8px;padding:.25rem .5rem;}
@media (min-width:47.938em){
.md-mb3{margin-bottom:2rem;}
.md-mxn2{margin-left:-1rem;margin-right:-1rem;}
}
@media (min-width:47.938em){
.md-px2{padding-left:1rem;padding-right:1rem;}
}
h2{letter-spacing:-.0125em;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}
.border-bottom-light{border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgba(0,0,0,.05);}
.border-top-light{border-top-style:solid;border-top-width:1px;border-top-color:rgba(0,0,0,.05);}
.bg-silver-on-hover:focus,.bg-silver-on-hover:hover{background-color:#f1f1f1;}
.bg-light-silver{background-color:#f8f8f8;}
.no-underline-on-hover:focus,.no-underline-on-hover:hover{text-decoration:none;}
@media print{
*,:after,:before,:first-letter,:first-line{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
h2,p{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
/*! CSS Used from: Embedded */
@media (min-width: 40em){
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
}
@media (min-width: 40em){
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
}
.rounded{border-radius:.125rem;}
.border-top-light{border-top:1px solid rgba(187,187,187,.2);}
.border-bottom-light{border-bottom:1px solid rgba(187,187,187,.2);}
.flex-justify-start{justify-content:flex-start;}
.line-height-1{line-height:1;}
.uppercase{text-transform:uppercase;}
.small-text{font-size:14px;font-size:.875rem;line-height:1.25;}
.pt2{padding-top:1pc;padding-top:1rem;}
.pb1{padding-bottom:8px;padding-bottom:.5rem;}
.pb3{padding-bottom:2pc;padding-bottom:2rem;}
/*! CSS Used from: Embedded */
::-webkit-scrollbar{width:8px!important;height:8px!important;background:transparent;border-radius:10rem!important;}
::-webkit-scrollbar-track{background:transparent!important;}
::-webkit-scrollbar-thumb{background-color:#ddd!important;border-radius:8px;}
::-webkit-scrollbar-thumb:hover{background-color:#ccc!important;-webkit-transition:background-color 0.2s linear!important;-moz-transition:background-color 0.2s linear!important;-o-transition:background-color 0.2s linear!important;transition:background-color 0.2s linear!important;}
::-webkit-scrollbar-thumb:active{background-color:#aaa!important;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
/*! CSS Used from: Embedded */
::-webkit-scrollbar-track{background-color:transparent!important;}
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}