/*! CSS Used from: https://fonts.googleapis.com/icon?family=Material+Icons */
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
/*! CSS Used from: http://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css */
.mdi:before{display:inline-block;font:normal normal normal 24px/1 "Material Design Icons";font-size:inherit;text-rendering:auto;line-height:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
/*! CSS Used from: Embedded */
*,::after,::before{box-sizing:border-box;}
body{margin:0;font-family:Nunito,sans-serif;font-size:.875rem;font-weight:400;line-height:1.5;color:#6c757d;text-align:left;background-color:#fafbfe;}
[tabindex="-1"]:focus{outline:0!important;}
h4{margin-top:0;margin-bottom:1.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#727cf5;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#2b3af0;text-decoration:none;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
h4{margin-bottom:1.5rem;font-family:inherit;font-weight:400;line-height:1.1;color:inherit;}
h4{font-size:1.125rem;}
.form-control{display:block;width:100%;height:calc(2.2125rem + 2px);padding:.45rem .9rem;font-size:.875rem;line-height:1.5;color:#6c757d;background-color:#fff;background-clip:padding-box;border:1px solid #dee2e6;border-radius:.25rem;-webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;-webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media screen and (prefers-reduced-motion:reduce){
.form-control{-webkit-transition:none;transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:focus{color:#495057;background-color:#fff;border-color:#c1c9d0;outline:0;box-shadow:none;}
.form-control::-webkit-input-placeholder{color:#adb5bd;opacity:1;}
.form-control::-ms-input-placeholder{color:#adb5bd;opacity:1;}
.form-control::placeholder{color:#adb5bd;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.45rem .9rem;font-size:.875rem;line-height:1.5;border-radius:.15rem;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media screen and (prefers-reduced-motion:reduce){
.btn{-webkit-transition:none;transition:none;}
}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .15rem rgba(114,124,245,.25);}
.btn:disabled{opacity:.65;}
.btn:not(:disabled):not(.disabled){cursor:pointer;}
.btn-primary{color:#fff;background-color:#727cf5;border-color:#727cf5;}
.btn-primary:hover{color:#fff;background-color:#4e5bf2;border-color:#4250f2;}
.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(114,124,245,.5);}
.btn-primary:disabled{color:#fff;background-color:#727cf5;border-color:#727cf5;}
.fade{-webkit-transition:opacity .15s linear;transition:opacity .15s linear;}
@media screen and (prefers-reduced-motion:reduce){
.fade{-webkit-transition:none;transition:none;}
}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input-group>.form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0;}
.input-group>.form-control:focus{z-index:3;}
.input-group>.form-control:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group-append{display:flex;}
.input-group-append .btn{position:relative;z-index:2;}
.input-group-append{margin-left:-1px;}
.input-group>.input-group-append>.btn{border-top-left-radius:0;border-bottom-left-radius:0;}
/*! CSS Used from: Embedded */
div::-webkit-scrollbar-track{background-color:transparent!important;}
div::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
div::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
/*! CSS Used from: Embedded */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
p{margin-top:0;margin-bottom:1pc;margin-bottom:1rem;}
a{color:#006fe8;text-decoration:none;}
a:hover{text-decoration:underline;}
::-moz-focus-inner{border:0;padding:0;}
@media print{
*,:after,:before,:first-letter,:first-line{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p{orphans:3;widows:3;}
}
@media (min-width: 40em){
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
}
@media (min-width: 40em){
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
}
::-webkit-scrollbar{width:8px!important;height:8px!important;background:transparent;border-radius:10rem!important;}
::-webkit-scrollbar-track{background:transparent!important;}
::-webkit-scrollbar-thumb{background-color:#ddd!important;border-radius:8px;}
::-webkit-scrollbar-thumb:hover{background-color:#ccc!important;-webkit-transition:background-color 0.2s linear!important;transition:background-color 0.2s linear!important;}
::-webkit-scrollbar-thumb:active{background-color:#aaa!important;}
::-webkit-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-webkit-scrollbar-track{background-color:transparent!important;}
::-webkit-scrollbar{width:8px!important;height:8px!important;background-color:transparent!important;border-radius:10rem!important;}
::-webkit-scrollbar-thumb{background-color:rgba(187,187,187,.4)!important;border-radius:10rem!important;}
::-webkit-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::placeholder{opacity:.5;color:#b4b4b4;}
:-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
::-ms-input-placeholder{opacity:.5;color:#b4b4b4;}
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v42/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}

@font-face{font-family:"Material Design Icons";src:url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.eot?v=2.5.94");src:url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.eot#iefix&v=2.5.94") format("embedded-opentype"),url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.woff2?v=2.5.94") format("woff2"),url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.woff?v=2.5.94") format("woff"),url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.ttf?v=2.5.94") format("truetype"),url("http://cdn.materialdesignicons.com/2.5.94/fonts/materialdesignicons-webfont.svg?v=2.5.94#materialdesigniconsregular") format("svg");font-weight:normal;font-style:normal;}