.descriptor-title {
    color: rgb(34, 34, 34);
    height: 18px;
}
@media screen and (max-width: 768px) {
    .pl-md-4 {
        padding-left: 3rem;
    }
}
div::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  
  div::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
    background-color: transparent !important;
    border-radius: 10rem !important;
  }
  div::-webkit-scrollbar-thumb {
    background-color: rgba(187,187,187,.4) !important;
    border-radius: 10rem !important;
  }