/*!
 * Styles
 * IEX app styles
 * https://github.com/iexg/styles
 *
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

body {
    margin: 0
}

img {
    max-width: 100%
}

svg {
    max-height: 100%
}

fieldset,input,select,textarea {
    font-family: inherit;
    font-size: 1pc;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0
}

label {
    vertical-align: middle
}

input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week] {
    height: 52px;
    height: 3.25rem;
    padding: 1pc;
    padding: 1rem;
    vertical-align: middle;
    -webkit-appearance: none
}

select {
    line-height: 1.75;
    padding: 1pc;
    padding: 1rem
}

select:not([multiple]) {
    height: 52px;
    height: 3.25rem;
    vertical-align: middle
}

textarea {
    line-height: 1.75;
    padding: 1pc;
    padding: 1rem
}

table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%
}

th {
    text-align: left;
    font-weight: 700
}

td,th {
    padding: 4px 8px;
    padding: .25rem .5rem;
    line-height: inherit
}

th {
    vertical-align: bottom
}

td {
    vertical-align: top
}

body {
    line-height: 1.5;
    font-size: 100%
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em
}

dl,ol,p,ul {
    margin-top: 0;
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

code,pre,samp {
    font-family: Source Code Pro,Consolas,monospace;
    font-size: inherit
}

pre {
    margin-top: 0;
    margin-bottom: 1pc;
    margin-bottom: 1rem;
    overflow-x: scroll
}

h1 {
    font-size: 2pc;
    font-size: 2rem
}

h2 {
    font-size: 26px;
    font-size: 1.625rem
}

h3 {
    font-size: 20px;
    font-size: 1.25rem
}

h4 {
    font-size: 1pc;
    font-size: 1rem
}

h5 {
    font-size: 14px;
    font-size: .875rem
}

h6 {
    font-size: 9pt;
    font-size: .75rem
}

body {
    color: #222;
    background-color: #fff
}

a {
    color: #006fe8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

code,pre {
    background-color: transparent;
    border-radius: .125rem
}

hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125)
}

.field {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .125rem
}

.field.is-focused,.field:focus {
    outline: 0;
    border-color: #006fe8;
    box-shadow: 0 0 0 2px rgba(0,111,232,.5)
}

.field.is-disabled,.field:disabled {
    background-color: rgba(0,0,0,.125);
    opacity: .5
}

.field.is-read-only,.field:read-only:not(select) {
    background-color: rgba(0,0,0,.125)
}

.field.is-success {
    border-color: #14f1b9
}

.field.is-success.is-focused,.field.is-success:focus {
    box-shadow: 0 0 0 2px rgba(20,241,185,.5)
}

.field.is-warning {
    border-color: #ffdc00
}

.field.is-warning.is-focused,.field.is-warning:focus {
    box-shadow: 0 0 0 2px rgba(255,220,0,.5)
}

.field.is-error,.field:invalid {
    border-color: #dc372d
}

.field.is-error.is-focused,.field.is-error:focus,.field:invalid.is-focused,.field:invalid:focus {
    box-shadow: 0 0 0 2px rgba(220,55,45,.5)
}

.table-light td,.table-light th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.125)
}

.table-light tr:last-child td {
    border-bottom: 0
}

.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
    line-height: 1.125rem;
    padding: 11px 1pc;
    padding: .7rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent
}

.btn,.btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    border-color: rgba(0,0,0,.125);
    box-shadow: 0 0 0 3px rgba(0,0,0,.25)
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

.btn-primary {
    color: #fff;
    background-color: #006fe8;
    border-radius: .125rem
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625)
}

.btn-primary:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),inset 0 3px 4px 0 rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.125)
}

.btn-primary.is-disabled,.btn-primary:disabled {
    opacity: .5
}

.btn-outline,.btn-outline:hover {
    border-color: currentcolor
}

.btn-outline {
    border-radius: .125rem
}

.btn-outline:hover {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625)
}

.btn-outline:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),inset 0 3px 4px 0 rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.125)
}

.btn-outline.is-disabled,.btn-outline:disabled {
    opacity: .5
}

.h1 {
    font-size: 2pc;
    font-size: 2rem
}

.h2 {
    font-size: 26px;
    font-size: 1.625rem
}

.h3 {
    font-size: 20px;
    font-size: 1.25rem
}

.h4 {
    font-size: 1pc;
    font-size: 1rem
}

.h5 {
    font-size: 14px;
    font-size: .875rem
}

.h6 {
    font-size: 9pt;
    font-size: .75rem
}

.font-family-inherit {
    font-family: inherit
}

.font-size-inherit {
    font-size: inherit
}

.text-decoration-none {
    text-decoration: none
}

.bold {
    font-weight: 700
}

.regular {
    font-weight: 400
}

.italic {
    font-style: italic
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em
}

.left-align {
    text-align: left
}

.center {
    text-align: center
}

.right-align {
    text-align: right
}

.justify {
    text-align: justify
}

.nowrap {
    white-space: nowrap
}

.break-word {
    word-wrap: break-word
}

.line-height-1 {
    line-height: 1
}

.line-height-2 {
    line-height: 1.125
}

.line-height-3 {
    line-height: 1.25
}

.line-height-4 {
    line-height: 1.5
}

.list-style-none {
    list-style: none
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.list-reset {
    list-style: none;
    padding-left: 0
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.table {
    display: table
}

.table-cell {
    display: table-cell
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.fit {
    max-width: 100%
}

.border-box {
    box-sizing: border-box
}

.align-baseline {
    vertical-align: baseline
}

.align-top {
    vertical-align: top
}

.align-middle {
    vertical-align: middle
}

.align-bottom {
    vertical-align: bottom
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0 {
    margin-left: 0
}

.m1 {
    margin: 8px;
    margin: .5rem
}

.mt1 {
    margin-top: 8px;
    margin-top: .5rem
}

.mr1 {
    margin-right: 8px;
    margin-right: .5rem
}

.mb1 {
    margin-bottom: 8px;
    margin-bottom: .5rem
}

.ml1 {
    margin-left: 8px;
    margin-left: .5rem
}

.m2 {
    margin: 1pc;
    margin: 1rem
}

.mt2 {
    margin-top: 1pc;
    margin-top: 1rem
}

.mr2 {
    margin-right: 1pc;
    margin-right: 1rem
}

.mb2 {
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.ml2 {
    margin-left: 1pc;
    margin-left: 1rem
}

.m3 {
    margin: 2pc;
    margin: 2rem
}

.mt3 {
    margin-top: 2pc;
    margin-top: 2rem
}

.mr3 {
    margin-right: 2pc;
    margin-right: 2rem
}

.mb3 {
    margin-bottom: 2pc;
    margin-bottom: 2rem
}

.ml3 {
    margin-left: 2pc;
    margin-left: 2rem
}

.m4 {
    margin: 4pc;
    margin: 4rem
}

.mt4 {
    margin-top: 4pc;
    margin-top: 4rem
}

.mr4 {
    margin-right: 4pc;
    margin-right: 4rem
}

.mb4 {
    margin-bottom: 4pc;
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4pc;
    margin-left: 4rem
}

.mxn1 {
    margin-left: -8px;
    margin-left: -.5rem;
    margin-right: -8px;
    margin-right: -.5rem
}

.mxn2 {
    margin-left: -1pc;
    margin-left: -1rem;
    margin-right: -1pc;
    margin-right: -1rem
}

.mxn3 {
    margin-left: -2pc;
    margin-left: -2rem;
    margin-right: -2pc;
    margin-right: -2rem
}

.mxn4 {
    margin-left: -4pc;
    margin-left: -4rem;
    margin-right: -4pc;
    margin-right: -4rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.p1 {
    padding: 8px;
    padding: .5rem
}

.py1 {
    padding-top: 8px;
    padding-top: .5rem;
    padding-bottom: 8px;
    padding-bottom: .5rem
}

.px1 {
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 8px;
    padding-right: .5rem
}

.p2 {
    padding: 1pc;
    padding: 1rem
}

.py2 {
    padding-top: 1pc;
    padding-top: 1rem;
    padding-bottom: 1pc;
    padding-bottom: 1rem
}

.px2 {
    padding-left: 1pc;
    padding-left: 1rem;
    padding-right: 1pc;
    padding-right: 1rem
}

.p3 {
    padding: 2pc;
    padding: 2rem
}

.py3 {
    padding-top: 2pc;
    padding-top: 2rem;
    padding-bottom: 2pc;
    padding-bottom: 2rem
}

.px3 {
    padding-left: 2pc;
    padding-left: 2rem;
    padding-right: 2pc;
    padding-right: 2rem
}

.p4 {
    padding: 4pc;
    padding: 4rem
}

.py4 {
    padding-top: 4pc;
    padding-top: 4rem;
    padding-bottom: 4pc;
    padding-bottom: 4rem
}

.px4 {
    padding-left: 4pc;
    padding-left: 4rem;
    padding-right: 4pc;
    padding-right: 4rem
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.left-0 {
    left: 0
}

.z1 {
    z-index: 1
}

.z2 {
    z-index: 2
}

.z3 {
    z-index: 3
}

.z4 {
    z-index: 4
}

.lg-show,.md-show,.sm-show {
    display: none!important
}

@media (min-width: 40em) {
    .sm-show {
        display:block!important
    }
}

@media (min-width: 47.938em) {
    .md-show {
        display:block!important
    }
}

@media (min-width: 70em) {
    .lg-show {
        display:block!important
    }
}

@media (min-width: 40em) {
    .sm-hide {
        display:none!important
    }
}

@media (min-width: 47.938em) {
    .md-hide {
        display:none!important
    }
}

@media (min-width: 70em) {
    .lg-hide {
        display:none!important
    }
}

.display-none {
    display: none!important
}

.hide {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px)
}

.col {
    float: left
}

.col,.col-right {
    box-sizing: border-box
}

.col-right {
    float: right
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

@media (min-width: 40em) {
    .sm-col {
        float:left;
        box-sizing: border-box
    }

    .sm-col-right {
        float: right;
        box-sizing: border-box
    }

    .sm-col-1 {
        width: 8.33333%
    }

    .sm-col-2 {
        width: 16.66667%
    }

    .sm-col-3 {
        width: 25%
    }

    .sm-col-4 {
        width: 33.33333%
    }

    .sm-col-5 {
        width: 41.66667%
    }

    .sm-col-6 {
        width: 50%
    }

    .sm-col-7 {
        width: 58.33333%
    }

    .sm-col-8 {
        width: 66.66667%
    }

    .sm-col-9 {
        width: 75%
    }

    .sm-col-10 {
        width: 83.33333%
    }

    .sm-col-11 {
        width: 91.66667%
    }

    .sm-col-12 {
        width: 100%
    }
}

@media (min-width: 47.938em) {
    .md-col {
        float:left;
        box-sizing: border-box
    }

    .md-col-right {
        float: right;
        box-sizing: border-box
    }

    .md-col-1 {
        width: 8.33333%
    }

    .md-col-2 {
        width: 16.66667%
    }

    .md-col-3 {
        width: 25%
    }

    .md-col-4 {
        width: 33.33333%
    }

    .md-col-5 {
        width: 41.66667%
    }

    .md-col-6 {
        width: 50%
    }

    .md-col-7 {
        width: 58.33333%
    }

    .md-col-8 {
        width: 66.66667%
    }

    .md-col-9 {
        width: 75%
    }

    .md-col-10 {
        width: 83.33333%
    }

    .md-col-11 {
        width: 91.66667%
    }

    .md-col-12 {
        width: 100%
    }
}

@media (min-width: 70em) {
    .lg-col {
        float:left;
        box-sizing: border-box
    }

    .lg-col-right {
        float: right;
        box-sizing: border-box
    }

    .lg-col-1 {
        width: 8.33333%
    }

    .lg-col-2 {
        width: 16.66667%
    }

    .lg-col-3 {
        width: 25%
    }

    .lg-col-4 {
        width: 33.33333%
    }

    .lg-col-5 {
        width: 41.66667%
    }

    .lg-col-6 {
        width: 50%
    }

    .lg-col-7 {
        width: 58.33333%
    }

    .lg-col-8 {
        width: 66.66667%
    }

    .lg-col-9 {
        width: 75%
    }

    .lg-col-10 {
        width: 83.33333%
    }

    .lg-col-11 {
        width: 91.66667%
    }

    .lg-col-12 {
        width: 100%
    }
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.flex-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.flex-justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.flex-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.flex-last {
    -webkit-box-ordinal-group: 100000;
    -ms-flex-order: 99999;
    order: 99999
}

@media (min-width: 40em) {
    .sm-flex {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 47.938em) {
    .md-flex {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 70em) {
    .lg-flex {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.border {
    border: 1px solid rgba(0,0,0,.125)
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125)
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,.125)
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125)
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,.125)
}

.border-none {
    border: 0
}

.rounded {
    border-radius: .125rem
}

.circle {
    border-radius: 50%
}

.rounded-top {
    border-radius: .125rem .125rem 0 0
}

.rounded-right {
    border-radius: 0 .125rem .125rem 0
}

.rounded-bottom {
    border-radius: 0 0 .125rem .125rem
}

.rounded-left {
    border-radius: .125rem 0 0 .125rem
}

.not-rounded {
    border-radius: 0
}

.black {
    color: #222
}

.gray {
    color: #444
}

.silver {
    color: #f1f1f1
}

.white {
    color: #fff
}

.aqua {
    color: #55beff
}

.blue {
    color: #006fe8
}

.navy {
    color: #141d48
}

.teal {
    color: #39cccc
}

.green {
    color: #14f1b9
}

.olive {
    color: #146d57
}

.lime {
    color: #01ff70
}

.yellow {
    color: #ffdc00
}

.orange {
    color: #ffa200
}

.red {
    color: #dc372d
}

.fuchsia {
    color: #f012be
}

.purple {
    color: #b10dc9
}

.maroon {
    color: #84221c
}

.color-inherit {
    color: inherit
}

.muted {
    opacity: .5
}

.bg-black {
    background-color: #222
}

.bg-gray {
    background-color: #444
}

.bg-silver {
    background-color: #f1f1f1
}

.bg-white {
    background-color: #fff
}

.bg-aqua {
    background-color: #55beff
}

.bg-blue {
    background-color: #006fe8
}

.bg-navy {
    background-color: #141d48
}

.bg-teal {
    background-color: #39cccc
}

.bg-green {
    background-color: #14f1b9
}

.bg-olive {
    background-color: #146d57
}

.bg-lime {
    background-color: #01ff70
}

.bg-yellow {
    background-color: #ffdc00
}

.bg-orange {
    background-color: #ffa200
}

.bg-red {
    background-color: #dc372d
}

.bg-fuchsia {
    background-color: #f012be
}

.bg-purple {
    background-color: #b10dc9
}

.bg-maroon {
    background-color: #84221c
}

.btn-small {
    padding: 4px 8px;
    padding: .25rem .5rem
}

.btn-big {
    padding: 1pc 20px;
    padding: 1rem 1.25rem
}

.btn-narrow {
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 8px;
    padding-right: .5rem
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-center {
    background-position: center
}

.bg-top {
    background-position: top
}

.bg-right {
    background-position: right
}

.bg-bottom {
    background-position: bottom
}

.bg-left {
    background-position: left
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.bg-repeat-x {
    background-repeat: repeat-x
}

.bg-repeat-y {
    background-repeat: repeat-y
}

@media (min-width: 40em) {
    .sm-m0 {
        margin:0
    }

    .sm-mt0 {
        margin-top: 0
    }

    .sm-mr0 {
        margin-right: 0
    }

    .sm-mb0 {
        margin-bottom: 0
    }

    .sm-ml0 {
        margin-left: 0
    }

    .sm-m1 {
        margin: .5rem
    }

    .sm-mt1 {
        margin-top: .5rem
    }

    .sm-mr1 {
        margin-right: .5rem
    }

    .sm-mb1 {
        margin-bottom: .5rem
    }

    .sm-ml1 {
        margin-left: .5rem
    }

    .sm-m2 {
        margin: 1rem
    }

    .sm-mt2 {
        margin-top: 1rem
    }

    .sm-mr2 {
        margin-right: 1rem
    }

    .sm-mb2 {
        margin-bottom: 1rem
    }

    .sm-ml2 {
        margin-left: 1rem
    }

    .sm-m3 {
        margin: 2rem
    }

    .sm-mt3 {
        margin-top: 2rem
    }

    .sm-mr3 {
        margin-right: 2rem
    }

    .sm-mb3 {
        margin-bottom: 2rem
    }

    .sm-ml3 {
        margin-left: 2rem
    }

    .sm-m4 {
        margin: 4rem
    }

    .sm-mt4 {
        margin-top: 4rem
    }

    .sm-mr4 {
        margin-right: 4rem
    }

    .sm-mb4 {
        margin-bottom: 4rem
    }

    .sm-ml4 {
        margin-left: 4rem
    }

    .sm-mxn1 {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .sm-mxn2 {
        margin-left: -1rem;
        margin-right: -1rem
    }

    .sm-mxn3 {
        margin-left: -2rem;
        margin-right: -2rem
    }

    .sm-mxn4 {
        margin-left: -4rem;
        margin-right: -4rem
    }

    .sm-mx-auto {
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 47.938em) {
    .md-m0 {
        margin:0
    }

    .md-mt0 {
        margin-top: 0
    }

    .md-mr0 {
        margin-right: 0
    }

    .md-mb0 {
        margin-bottom: 0
    }

    .md-ml0 {
        margin-left: 0
    }

    .md-m1 {
        margin: .5rem
    }

    .md-mt1 {
        margin-top: .5rem
    }

    .md-mr1 {
        margin-right: .5rem
    }

    .md-mb1 {
        margin-bottom: .5rem
    }

    .md-ml1 {
        margin-left: .5rem
    }

    .md-m2 {
        margin: 1rem
    }

    .md-mt2 {
        margin-top: 1rem
    }

    .md-mr2 {
        margin-right: 1rem
    }

    .md-mb2 {
        margin-bottom: 1rem
    }

    .md-ml2 {
        margin-left: 1rem
    }

    .md-m3 {
        margin: 2rem
    }

    .md-mt3 {
        margin-top: 2rem
    }

    .md-mr3 {
        margin-right: 2rem
    }

    .md-mb3 {
        margin-bottom: 2rem
    }

    .md-ml3 {
        margin-left: 2rem
    }

    .md-m4 {
        margin: 4rem
    }

    .md-mt4 {
        margin-top: 4rem
    }

    .md-mr4 {
        margin-right: 4rem
    }

    .md-mb4 {
        margin-bottom: 4rem
    }

    .md-ml4 {
        margin-left: 4rem
    }

    .md-mxn1 {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .md-mxn2 {
        margin-left: -1rem;
        margin-right: -1rem
    }

    .md-mxn3 {
        margin-left: -2rem;
        margin-right: -2rem
    }

    .md-mxn4 {
        margin-left: -4rem;
        margin-right: -4rem
    }

    .md-mx-auto {
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 70em) {
    .lg-m0 {
        margin:0
    }

    .lg-mt0 {
        margin-top: 0
    }

    .lg-mr0 {
        margin-right: 0
    }

    .lg-mb0 {
        margin-bottom: 0
    }

    .lg-ml0 {
        margin-left: 0
    }

    .lg-m1 {
        margin: .5rem
    }

    .lg-mt1 {
        margin-top: .5rem
    }

    .lg-mr1 {
        margin-right: .5rem
    }

    .lg-mb1 {
        margin-bottom: .5rem
    }

    .lg-ml1 {
        margin-left: .5rem
    }

    .lg-m2 {
        margin: 1rem
    }

    .lg-mt2 {
        margin-top: 1rem
    }

    .lg-mr2 {
        margin-right: 1rem
    }

    .lg-mb2 {
        margin-bottom: 1rem
    }

    .lg-ml2 {
        margin-left: 1rem
    }

    .lg-m3 {
        margin: 2rem
    }

    .lg-mt3 {
        margin-top: 2rem
    }

    .lg-mr3 {
        margin-right: 2rem
    }

    .lg-mb3 {
        margin-bottom: 2rem
    }

    .lg-ml3 {
        margin-left: 2rem
    }

    .lg-m4 {
        margin: 4rem
    }

    .lg-mt4 {
        margin-top: 4rem
    }

    .lg-mr4 {
        margin-right: 4rem
    }

    .lg-mb4 {
        margin-bottom: 4rem
    }

    .lg-ml4 {
        margin-left: 4rem
    }

    .lg-mxn1 {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .lg-mxn2 {
        margin-left: -1rem;
        margin-right: -1rem
    }

    .lg-mxn3 {
        margin-left: -2rem;
        margin-right: -2rem
    }

    .lg-mxn4 {
        margin-left: -4rem;
        margin-right: -4rem
    }

    .lg-mx-auto {
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 40em) {
    .sm-p0 {
        padding:0
    }

    .sm-p1 {
        padding: .5rem
    }

    .sm-py1 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .sm-px1 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .sm-p2 {
        padding: 1rem
    }

    .sm-py2 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .sm-px2 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .sm-p3 {
        padding: 2rem
    }

    .sm-py3 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .sm-px3 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .sm-p4 {
        padding: 4rem
    }

    .sm-py4 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .sm-px4 {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

@media (min-width: 47.938em) {
    .md-p0 {
        padding:0
    }

    .md-p1 {
        padding: .5rem
    }

    .md-py1 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .md-px1 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .md-p2 {
        padding: 1rem
    }

    .md-py2 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .md-px2 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .md-p3 {
        padding: 2rem
    }

    .md-py3 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .md-px3 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .md-p4 {
        padding: 4rem
    }

    .md-py4 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .md-px4 {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

@media (min-width: 70em) {
    .lg-p0 {
        padding:0
    }

    .lg-p1 {
        padding: .5rem
    }

    .lg-py1 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .lg-px1 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .lg-p2 {
        padding: 1rem
    }

    .lg-py2 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .lg-px2 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .lg-p3 {
        padding: 2rem
    }

    .lg-py3 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .lg-px3 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .lg-p4 {
        padding: 4rem
    }

    .lg-py4 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .lg-px4 {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

.x-group-item {
    margin-left: -1px
}

.x-group-item:first-of-type {
    margin-left: 0
}

.y-group-item {
    margin-top: -1px
}

.y-group-item:first-of-type {
    margin-top: 0
}

.x-group-item:focus,.y-group-item:focus {
    position: relative;
    z-index: 1
}

footer,header,nav,section {
    display: block
}

h1,h2,h3 {
    letter-spacing: -.0125em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

textarea {
    resize: vertical
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

pre {
    overflow-x: auto
}

.h0,.h-lg {
    font-size: 44px;
    font-size: 2.75rem;
    letter-spacing: -1px;
    letter-spacing: -.08rem
}

@media (min-width: 47.938em) {
    .h0 {
        font-size:3.25rem
    }

    .h-lg {
        font-size: 5rem
    }

    .h1,h1 {
        font-size: 2.5rem
    }
}

@media (min-width: 60em) {
    .h0 {
        font-size:4rem
    }

    .h-lg {
        font-size: 6.25rem
    }
}

.supportive-type {
    font: italic bold 65% serif
}

.ampersand {
    font: italic 1em Libre Baskerville,Baskerville,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif
}

.line-height-normal {
    line-height: normal
}

.bolder {
    font-weight: bolder
}

.font-weight-800 {
    font-weight: 800
}

.font-weight-600 {
    font-weight: 600
}

.font-weight-500 {
    font-weight: 500
}

.font-weight-300 {
    font-weight: 300
}

.font-weight-200 {
    font-weight: 200
}

.font-weight-100 {
    font-weight: 100
}

.list-style-type-lower-alpha {
    list-style-type: lower-alpha
}

.letter-spacing-normal {
    letter-spacing: normal
}

.tight {
    letter-spacing: -.0625em
}

.width-1_5r {
    width: 24px;
    width: 1.5rem
}

.height-1_5r {
    height: 24px;
    height: 1.5rem
}

.min-width-3r {
    min-width: 3pc;
    min-width: 3rem
}

.height-3r {
    height: 3pc;
    height: 3rem
}

.width-3_125r {
    width: 50px;
    width: 3.125rem
}

.height-3_125r {
    height: 50px;
    height: 3.125rem
}

.line-height-3_125r {
    line-height: 50px;
    line-height: 3.125rem
}

.width-4_125r {
    width: 66px;
    width: 4.125rem
}

.height-4_125r {
    height: 66px;
    height: 4.125rem
}

.width-4_25r {
    width: 68px;
    width: 4.25rem
}

.height-4_25r {
    height: 68px;
    height: 4.25rem
}

.min-height-20r {
    min-height: 20pc;
    min-height: 20rem
}

.min-width-100r {
    min-width: 100pc;
    min-width: 100rem
}

.height-100vh {
    height: 100vh
}

.container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto
}

.small-container {
    max-width: 6in;
    max-width: 36rem
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0
}

.video-wrapper>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media (min-width: 40em) {
    .sm-width-auto {
        width:auto
    }
}

@media (min-width: 47.938em) {
    .md-width-auto {
        width:auto
    }
}

@media (min-width: 70em) {
    .lg-width-auto {
        width:auto
    }
}

@media (min-width: 47.938em) {
    .md-min-height-15r {
        min-height:15rem
    }

    .md-min-height-19r {
        min-height: 19rem
    }
}

.m5 {
    margin: 2px;
    margin: .125rem
}

.mt5 {
    margin-top: 2px;
    margin-top: .125rem
}

.mr5 {
    margin-right: 2px;
    margin-right: .125rem
}

.mb5 {
    margin-bottom: 2px;
    margin-bottom: .125rem
}

.ml5 {
    margin-left: 2px;
    margin-left: .125rem
}

.m6 {
    margin: 4px;
    margin: .25rem
}

.mt6 {
    margin-top: 4px;
    margin-top: .25rem
}

.mr6 {
    margin-right: 4px;
    margin-right: .25rem
}

.mb6 {
    margin-bottom: 4px;
    margin-bottom: .25rem
}

.ml6 {
    margin-left: 4px;
    margin-left: .25rem
}

.mxn5 {
    margin-left: -2px;
    margin-left: -.125rem;
    margin-right: -2px;
    margin-right: -.125rem
}

.mxn6 {
    margin-left: -4px;
    margin-left: -.25rem;
    margin-right: -4px;
    margin-right: -.25rem
}

.p0 {
    padding: 0
}

.py0 {
    padding-top: 0;
    padding-bottom: 0
}

.p5 {
    padding: 2px;
    padding: .125rem
}

.py5 {
    padding-top: 2px;
    padding-top: .125rem;
    padding-bottom: 2px;
    padding-bottom: .125rem
}

.px5 {
    padding-left: 2px;
    padding-left: .125rem;
    padding-right: 2px;
    padding-right: .125rem
}

.p6 {
    padding: 4px;
    padding: .25rem
}

.py6 {
    padding-top: 4px;
    padding-top: .25rem;
    padding-bottom: 4px;
    padding-bottom: .25rem
}

.px6 {
    padding-left: 4px;
    padding-left: .25rem;
    padding-right: 4px;
    padding-right: .25rem
}

.py10r {
    padding-top: 10pc;
    padding-top: 10rem;
    padding-bottom: 10pc;
    padding-bottom: 10rem
}

.p_625r {
    padding: 10px;
    padding: .625rem
}

.border-currentcolor {
    border-color: currentcolor
}

.border-black {
    border-color: #222
}

.border-light-gray {
    border-color: #bbb
}

.border-mid-gray {
    border-color: #8c8c8c
}

.border-gray {
    border-color: #444
}

.border-green {
    border-color: #14f1b9
}

.border-yellow {
    border-color: #ffdc00
}

.border-red {
    border-color: #dc372d
}

.border-orange:nth-child(4n+1) {
    border-color: #ffa200
}

.border-orange:nth-child(4n+2) {
    border-color: #fcc655
}

.border-orange:nth-child(4n+3) {
    border-color: #f9b638
}

.border-orange:nth-child(4n+4) {
    border-color: #ffd26e
}

.border-width-1 {
    border-width: 2px;
    border-width: .125rem
}

.border-width-2 {
    border-width: 4px;
    border-width: .25rem
}

@media (min-width: 47.938em) {
    .md-border-right {
        border-right-style:solid;
        border-right-width: 1px;
        border-right-color: rgba(0,0,0,.125)
    }

    .md-border-bottom {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0,0,0,.125)
    }
}

@media (min-width: 70em) {
    .lg-border-0 {
        border:0
    }
}

.border-light {
    border: 1px solid rgba(0,0,0,.05)
}

.border-right-light {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,.05)
}

.border-left-light {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,.05)
}

.border-bottom-light {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.05)
}

.border-top-light {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.05)
}

.md-border-left {
    border: none
}

@media (max-width: 47.938em) {
    .md-border-left {
        border-left:1px solid #444
    }
}

.black-on-hover:focus,.black-on-hover:hover {
    color: #222
}

.gray-on-hover:focus,.gray-on-hover:hover {
    color: #444
}

.silver-on-hover:focus,.silver-on-hover:hover {
    color: #f1f1f1
}

.white-on-hover:focus,.white-on-hover:hover {
    color: #fff
}

.aqua-on-hover:focus,.aqua-on-hover:hover {
    color: #55beff
}

.blue-on-hover:focus,.blue-on-hover:hover {
    color: #006fe8
}

.navy-on-hover:focus,.navy-on-hover:hover {
    color: #141d48
}

.teal-on-hover:focus,.teal-on-hover:hover {
    color: #39cccc
}

.green-on-hover:focus,.green-on-hover:hover {
    color: #14f1b9
}

.olive-on-hover:focus,.olive-on-hover:hover {
    color: #146d57
}

.lime-on-hover:focus,.lime-on-hover:hover {
    color: #01ff70
}

.yellow-on-hover:focus,.yellow-on-hover:hover {
    color: #ffdc00
}

.orange-on-hover:focus,.orange-on-hover:hover {
    color: #ffa200
}

.light-orange-on-hover:focus,.light-orange-on-hover:hover {
    color: #ffd26e
}

.red-on-hover:focus,.red-on-hover:hover {
    color: #dc372d
}

.fuchsia-on-hover:focus,.fuchsia-on-hover:hover {
    color: #f012be
}

.purple-on-hover:focus,.purple-on-hover:hover {
    color: #b10dc9
}

.maroon-on-hover:focus,.maroon-on-hover:hover {
    color: #84221c
}

.color-inherit-on-hover:focus,.color-inherit-on-hover:hover {
    color: inherit
}

.muted,.muted-on-hover:focus,.muted-on-hover:hover {
    opacity: .5
}

.key,.key-on-hover:focus,.key-on-hover:hover {
    color: #000
}

.dark-gray,.dark-gray-on-hover:focus,.dark-gray-on-hover:hover {
    color: #333
}

.mid-gray,.mid-gray-on-hover:focus,.mid-gray-on-hover:hover {
    color: #8c8c8c
}

.light-gray,.light-gray-on-hover:focus,.light-gray-on-hover:hover {
    color: #bbb
}

.fill-black,.fill-black-on-hover:focus,.fill-black-on-hover:hover {
    fill: #222
}

.fill-gray,.fill-gray-on-hover:focus,.fill-gray-on-hover:hover {
    fill: #444
}

.fill-silver,.fill-silver-on-hover:focus,.fill-silver-on-hover:hover {
    fill: #f1f1f1
}

.fill-white,.fill-white-on-hover:focus,.fill-white-on-hover:hover {
    fill: #fff
}

.fill-aqua,.fill-aqua-on-hover:focus,.fill-aqua-on-hover:hover {
    fill: #55beff
}

.fill-blue,.fill-blue-on-hover:focus,.fill-blue-on-hover:hover {
    fill: #006fe8
}

.fill-navy,.fill-navy-on-hover:focus,.fill-navy-on-hover:hover {
    fill: #141d48
}

.fill-teal,.fill-teal-on-hover:focus,.fill-teal-on-hover:hover {
    fill: #39cccc
}

.fill-green,.fill-green-on-hover:focus,.fill-green-on-hover:hover {
    fill: #14f1b9
}

.fill-olive,.fill-olive-on-hover:focus,.fill-olive-on-hover:hover {
    fill: #146d57
}

.fill-lime,.fill-lime-on-hover:focus,.fill-lime-on-hover:hover {
    fill: #01ff70
}

.fill-yellow,.fill-yellow-on-hover:focus,.fill-yellow-on-hover:hover {
    fill: #ffdc00
}

.fill-orange,.fill-orange-on-hover:focus,.fill-orange-on-hover:hover {
    fill: #ffa200
}

.fill-light-orange,.fill-light-orange-on-hover:focus,.fill-light-orange-on-hover:hover {
    fill: #ffd26e
}

.fill-red,.fill-red-on-hover:focus,.fill-red-on-hover:hover {
    fill: #dc372d
}

.fill-fuchsia,.fill-fuchsia-on-hover:focus,.fill-fuchsia-on-hover:hover {
    fill: #f012be
}

.fill-purple,.fill-purple-on-hover:focus,.fill-purple-on-hover:hover {
    fill: #b10dc9
}

.fill-maroon,.fill-maroon-on-hover:focus,.fill-maroon-on-hover:hover {
    fill: #84221c
}

.fill-inherit,.fill-inherit-on-hover:focus,.fill-inherit-on-hover:hover {
    fill: inherit
}

.fill-key,.fill-key-on-hover:focus,.fill-key-on-hover:hover {
    fill: #000
}

.fill-dark-gray,.fill-dark-gray-on-hover:focus,.fill-dark-gray-on-hover:hover {
    fill: #333
}

.fill-light-gray,.fill-light-gray-on-hover:focus,.fill-light-gray-on-hover:hover {
    fill: #bbb
}

.fill-currentcolor,.fill-currentcolor-on-hover:focus,.fill-currentcolor-on-hover:hover {
    fill: currentcolor
}

.btn-no-focus:focus {
    border-color: rgba(0,0,0,.125);
    box-shadow: none
}

@media (min-width: 47.938em) {
    .md-right-align {
        text-align:right
    }

    .md-left-align {
        text-align: left
    }

    .md-center {
        text-align: center
    }
}

@media (min-width: 70em) {
    .lg-right-align {
        text-align:right
    }

    .lg-left-align {
        text-align: left
    }

    .lg-center {
        text-align: center
    }
}

.bg-black-on-hover:focus,.bg-black-on-hover:hover {
    background-color: #222
}

.bg-gray-on-hover:focus,.bg-gray-on-hover:hover {
    background-color: #444
}

.bg-silver-on-hover:focus,.bg-silver-on-hover:hover {
    background-color: #f1f1f1
}

.bg-off-white-on-hover:focus,.bg-off-white-on-hover:hover {
    background-color: #fafafa
}

.bg-light-silver-on-hover:focus,.bg-light-silver-on-hover:hover {
    background-color: #f8f8f8
}

.bg-white-on-hover:focus,.bg-white-on-hover:hover {
    background-color: #fff
}

.bg-aqua-on-hover:focus,.bg-aqua-on-hover:hover {
    background-color: #55beff
}

.bg-blue-on-hover:focus,.bg-blue-on-hover:hover {
    background-color: #006fe8
}

.bg-navy-on-hover:focus,.bg-navy-on-hover:hover {
    background-color: #141d48
}

.bg-teal-on-hover:focus,.bg-teal-on-hover:hover {
    background-color: #39cccc
}

.bg-green-on-hover:focus,.bg-green-on-hover:hover {
    background-color: #14f1b9
}

.bg-olive-on-hover:focus,.bg-olive-on-hover:hover {
    background-color: #146d57
}

.bg-lime-on-hover:focus,.bg-lime-on-hover:hover {
    background-color: #01ff70
}

.bg-yellow-on-hover:focus,.bg-yellow-on-hover:hover {
    background-color: #ffdc00
}

.bg-orange-on-hover:focus,.bg-orange-on-hover:hover {
    background-color: #ffa200
}

.bg-light-orange,.bg-light-orange-on-hover:focus,.bg-light-orange-on-hover:hover {
    background-color: #ffd26e
}

.bg-red-on-hover:focus,.bg-red-on-hover:hover {
    background-color: #dc372d
}

.bg-fuchsia-on-hover:focus,.bg-fuchsia-on-hover:hover {
    background-color: #f012be
}

.bg-purple-on-hover:focus,.bg-purple-on-hover:hover {
    background-color: #b10dc9
}

.bg-maroon-on-hover:focus,.bg-maroon-on-hover:hover {
    background-color: #84221c
}

.bg-darken-1 {
    background-color: rgba(0,0,0,.0625)
}

.bg-darken-2 {
    background-color: rgba(0,0,0,.125)
}

.bg-darken-3 {
    background-color: rgba(0,0,0,.25)
}

.bg-darken-4 {
    background-color: rgba(0,0,0,.5)
}

.bg-lighten-1 {
    background-color: hsla(0,0%,100%,.0625)
}

.bg-lighten-2 {
    background-color: hsla(0,0%,100%,.125)
}

.bg-lighten-3 {
    background-color: hsla(0,0%,100%,.25)
}

.bg-lighten-4 {
    background-color: hsla(0,0%,100%,.5)
}

.bg-darken-1-on-hover:focus,.bg-darken-1-on-hover:hover {
    background-color: rgba(0,0,0,.0625)
}

.bg-darken-2-on-hover:focus,.bg-darken-2-on-hover:hover {
    background-color: rgba(0,0,0,.125)
}

.bg-darken-3-on-hover:focus,.bg-darken-3-on-hover:hover {
    background-color: rgba(0,0,0,.25)
}

.bg-darken-4-on-hover:focus,.bg-darken-4-on-hover:hover {
    background-color: rgba(0,0,0,.5)
}

.bg-darken-5,.bg-darken-5-on-hover:focus,.bg-darken-5-on-hover:hover {
    background-color: rgba(0,0,0,.8)
}

.bg-lighten-1-on-hover:focus,.bg-lighten-1-on-hover:hover {
    background-color: hsla(0,0%,100%,.0625)
}

.bg-lighten-2-on-hover:focus,.bg-lighten-2-on-hover:hover {
    background-color: hsla(0,0%,100%,.125)
}

.bg-lighten-3-on-hover:focus,.bg-lighten-3-on-hover:hover {
    background-color: hsla(0,0%,100%,.25)
}

.bg-lighten-4-on-hover:focus,.bg-lighten-4-on-hover:hover {
    background-color: hsla(0,0%,100%,.5)
}

.bg-lighten-5,.bg-lighten-5-on-hover:focus,.bg-lighten-5-on-hover:hover {
    background-color: hsla(0,0%,100%,.84)
}

.bg-key,.bg-key-on-hover:focus,.bg-key-on-hover:hover {
    background-color: #000
}

.bg-light-silver,.bg-light-silver-on-hover:focus,.bg-light-silver-on-hover:hover {
    background-color: #f8f8f8
}

.bg-off-white,.bg-off-white-on-hover:focus,.bg-off-white-on-hover:hover {
    background-color: #fafafa
}

.bg-dark-gray,.bg-dark-gray-on-hover:focus,.bg-dark-gray-on-hover:hover {
    background-color: #333
}

.bg-light-gray,.bg-light-gray-on-hover:focus,.bg-light-gray-on-hover:hover {
    background-color: #bbb
}

.bg-transparent,.bg-transparent-on-hover:focus,.bg-transparent-on-hover:hover {
    background-color: transparent
}

.bg-currentcolor,.bg-currentcolor-on-hover:focus,.bg-currentcolor-on-hover:hover {
    background-color: currentcolor
}

.bg-clip-content {
    background-clip: content-box
}

.underline {
    text-decoration: underline
}

.no-underline-on-hover:focus,.no-underline-on-hover:hover {
    text-decoration: none
}

.text-outline {
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000
}

.opacity-1 {
    opacity: .0625
}

.slide-up {
    bottom: -5pc;
    bottom: -5rem;
    transition: .3s bottom
}

@-webkit-keyframes a {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes a {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fade-in {
    -webkit-animation: a .3s;
    animation: a .3s
}

@-webkit-keyframes b {
    0%,50% {
        color: #dc372d
    }

    to {
        color: #f1f1f1
    }
}

@keyframes b {
    0%,50% {
        color: #dc372d
    }

    to {
        color: #f1f1f1
    }
}

@-webkit-keyframes c {
    0%,50% {
        color: #14f1b9
    }

    to {
        color: #f1f1f1
    }
}

@keyframes c {
    0%,50% {
        color: #14f1b9
    }

    to {
        color: #f1f1f1
    }
}

@-webkit-keyframes d {
    0% {
        color: #444
    }

    25% {
        color: #f1f1f1
    }

    50% {
        color: #444
    }

    to {
        color: #f1f1f1
    }
}

@keyframes d {
    0% {
        color: #444
    }

    25% {
        color: #f1f1f1
    }

    50% {
        color: #444
    }

    to {
        color: #f1f1f1
    }
}

.priceUp {
    -webkit-animation: c 1.5s ease-in-out;
    animation: c 1.5s ease-in-out
}

.priceDown {
    -webkit-animation: b 1.5s ease-in-out;
    animation: b 1.5s ease-in-out
}

.volumeUp {
    -webkit-animation: d 1s ease-in-out;
    animation: d 1s ease-in-out
}

.fade-enter,.fade-leave {
    transition: opacity .3s
}

.fade-enter,.fade-leave.fade-leave-active {
    opacity: .01
}

.fade-enter.fade-enter-active,.fade-leave {
    opacity: 1
}

.notification-enter,.notification-leave {
    transition: opacity .3s,bottom .3s
}

.notification-enter,.notification-leave.notification-leave-active {
    opacity: .01;
    bottom: -5pc;
    bottom: -5rem
}

.notification-enter.notification-enter-active,.notification-leave {
    opacity: 1;
    bottom: 0
}

.sweep-enter {
    opacity: .01;
    -webkit-transform: translateY(50%) scale(.85);
    transform: translateY(50%) scale(.85)
}

.sweep-enter.sweep-enter-active {
    transition: opacity .3s ease-in,-webkit-transform .2s ease-in;
    transition: opacity .3s ease-in,transform .2s ease-in
}

.sweep-enter.sweep-enter-active,.sweep-leave {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.sweep-leave.sweep-leave-active {
    opacity: .01;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: opacity .3s ease-in,-webkit-transform .2s ease-in;
    transition: opacity .3s ease-in,transform .2s ease-in
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fade-in-down {
    -webkit-animation-name: e;
    animation-name: e
}

.nav-btn:focus,.page--apps-stocks.page--dark .nav,.page--apps-tops .nav,[class^=page--about] .nav-btn--about,[class^=page--api-terms] .nav-btn--api-terms,[class^=page--apps-stocks] .nav-btn--stocks,[class^=page--apps] .nav-btn--apps,[class^=page--brand] .nav-btn--brand,[class^=page--developer] .nav-btn--developer,[class^=page--documents] .nav-btn--documents,[class^=page--exchange-launch] .nav-btn--membership,[class^=page--insights] .nav-btn--insights,[class^=page--listing-center] .nav-btn--listing-center,[class^=page--listings] .nav-btn--listings,[class^=page--policy] .nav-btn--policy,[class^=page--regulation] .nav-btn--regulation,[class^=page--stats] .nav-btn--stats,[class^=page--status] .nav-btn--status,[class^=page--testimony-2017] .nav-btn--insights,[class^=page--trading] .nav-btn--trading {
    color: #8c8c8c
}

.page--apps-tops .nav {
    background-color: #222
}

.page--apps-stocks.page--dark .nav {
    background-color: #111
}

.page--apps-stocks.page--dark .logo,.page--apps-tops .logo {
    fill: #fff;
    background-color: transparent
}

.page--apps-stocks.page--dark .menu,.page--apps-tops .menu {
    fill: #fff
}

.page--apps-stocks.page--dark .nav-btn,.page--apps-tops .nav-btn {
    color: #fff
}

.page--apps-stocks.page--dark .nav-btn:focus,.page--apps-stocks.page--dark .nav-btn:hover,.page--apps-tops .nav-btn:focus,.page--apps-tops .nav-btn:hover {
    color: #8c8c8c
}

.page--apps-stocks .nav-btn--apps {
    border-color: transparent
}

.page--apps-stocks.page--dark .nav-btn--stocks,.page--apps-tops .nav-btn--apps {
    color: #8c8c8c
}

[class^=page--trading-alert] main * {
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: normal
}

[class^=page--trading-alert] main h1,[class^=page--trading-alert] main h2,[class^=page--trading-alert] main h3,[class^=page--trading-alert] main h4,[class^=page--trading-alert] main h5,[class^=page--trading-alert] main h6 {
    line-height: 1.25
}

[class^=page--trading-alert] main table {
    margin-bottom: 1pc;
    margin-bottom: 1rem;
    border: 1px solid #bbb;
    border-radius: .125rem;
    background-color: #fff
}

[class^=page--trading-alert] main table td,[class^=page--trading-alert] main table th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bbb
}

[class^=page--trading-alert] main table tr:last-child td {
    border-bottom: 0
}

@media print {
    [class^=page--trading-alert] .footer,[class^=page--trading-alert] .nav,[class^=page--trading-alert] .subnav {
        display: none
    }
}

.page--apps-stocks.page--dark #app #indices a:focus,.page--apps-stocks.page--dark #app #indices a:hover,.page--apps-stocks.page--dark #app a {
    color: #55beff
}

.page--apps-stocks.page--dark #app #indices a {
    color: #f1f1f1
}

.page--apps-stocks.page--dark #app .btn:focus {
    border-color: hsla(0,0%,100%,.125);
    box-shadow: 0 0 0 3px hsla(0,0%,100%,.25)
}

.table-fixed {
    table-layout: fixed
}

.table-dark td,.table-dark th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #444
}

.table-dark tr:last-child td {
    border-bottom: 0
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid #fff
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #ffa200 url(/images/listings/slider-thumb.png);
    background-size: contain;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,.5);
    margin-top: -20px;
    cursor: ew-resize
}

input[type=range]:focus {
    outline: 0
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #ffa200 url(/images/listings/slider-thumb.png);
    background-size: contain;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,.5);
    cursor: ew-resize
}

input[type=range]:-moz-focusring {
    outline: 1px solid #fff;
    outline-offset: -1px
}

input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px
}

input[type=range]::-ms-thumb {
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #ffa200 url(/images/listings/slider-thumb.png);
    background-size: contain;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,.5);
    cursor: ew-resize
}

input[type=range]:focus::-ms-fill-lower {
    background: #888
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc
}

.is-loading {
    -webkit-animation: f 1.2s infinite ease-in-out alternate;
    animation: f 1.2s infinite ease-in-out alternate
}

@-webkit-keyframes f {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    to {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

@keyframes f {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    to {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.glow-white {
    text-shadow: 0 0 9pt #fff;
    text-shadow: 0 0 .75rem #fff
}

.grayscale {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.no-grayscale-on-hover:focus,.no-grayscale-on-hover:hover {
    -webkit-filter: none;
    filter: none
}

.print-color-adjust-exact {
    -webkit-print-color-adjust: exact
}

.print-page-break-after-always {
    page-break-after: always
}

@media print {
    *,:after,:before,:first-letter,:first-line {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,a[href^="javascript:"]:after {
        content: ""
    }

    blockquote,pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100%!important
    }

    h2,h3,p {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }

    html {
        font-size: 80%
    }

    .no-print {
        display: none
    }

    .print-bg-silver {
        background-color: #f1f1f1!important
    }

    .print-orange {
        color: #ffa200!important
    }
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.top-n4_25 {
    top: -68px;
    top: -4.25rem
}

.bottom-0 {
    bottom: 0
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-x-scroll {
    overflow-x: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

.no-outline-on-focus:focus {
    outline: 0
}

.blurry {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="6" /></filter></svg>#filter');
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-filter: blur(.375rem);
    filter: blur(.375rem)
}

.clickable {
    cursor: pointer
}

.hero-iex {
    margin-top: 2pc;
    margin-top: 2rem;
    font-size: 3pc;
    font-size: 3rem
}

@media (min-width: 47.938em) {
    .hero-iex {
        font-size:4rem
    }
}

.container:hover .btn-section {
    text-decoration: underline
}

@media (min-width: 40em) {
    .sm-show-as-table-cell {
        display:table-cell!important
    }
}

.rw-wrapper {
    display: none
}

.rw-sentence-IE {
    display: block
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.box-shadow-1 {
    box-shadow: 0 2px 8px 1px rgba(0,0,0,.25)
}

.md-show-as-inline-block {
    display: none
}

option {
    color: #222;
    background-color: #fff
}

@media (min-width: 47.938em) {
    .md-show-as-inline-block {
        display:inline-block!important
    }
}

@media (min-width: 70em) {
    .lg-right-n59px {
        right:-59px
    }

    .lg-left-n59px {
        left: -59px
    }
}

@media (min-width: 60em) {
    .lg-font-size-3r {
        font-size:3rem
    }
}

@media (max-width: 47.938em) {
    .footer-contact-link,.footer-major-link {
        border:1px solid rgba(34,34,34,.25);
        padding: 1rem
    }

    .footer-major-link {
        margin-top: 0;
        margin-bottom: 1rem;
        display: block
    }

    .footer-minor-links {
        margin-top: -1rem
    }

    .footer-minor-link {
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid hsla(0,0%,53%,.25);
        padding: 1rem;
        display: block
    }
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.dropbtn {
    cursor: default;
    text-decoration: none;
    font-weight: 500
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 10pc;
    -ms-box-shadow: 0 8px 20px 5px rgba(0,0,0,.05),0 -2px 20px rgba(0,0,0,.025);
    -o-box-shadow: 0 8px 20px 5px rgba(0,0,0,.05),0 -2px 20px rgba(0,0,0,.025);
    box-shadow: 0 8px 20px 5px rgba(0,0,0,.05),0 -2px 20px rgba(0,0,0,.025);
    z-index: 1;
    left: 50%;
    border-radius: .375rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.dropdown-content:before {
    border-bottom: 9px solid transparent;
    top: -7px
}

.dropdown-content:after,.dropdown-content:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    display: inline-block;
    left: 48%;
    position: absolute
}

.dropdown-content:after {
    border-bottom: 9px solid #fff;
    top: -8px
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block
}

.dropdown-icon {
    padding: 20px 1pc;
    fill-color: #222
}

.dropdown-content a:hover {
    color: #006fe8
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible
}

.dropdown:hover .dropbtn {
    text-decoration: none;
    color: #8c8c8c
}

.shadow-on-hover {
    -ms-box-shadow: 0 5px 30px rgba(0,0,0,.05);
    -o-box-shadow: 0 5px 30px rgba(0,0,0,.05);
    box-shadow: 0 5px 30px rgba(0,0,0,.05);
    transition: all .2s ease-in-out
}

.shadow-on-hover:hover {
    -ms-box-shadow: 0 15px 45px hsla(0,0%,55%,.15);
    -o-box-shadow: 0 15px 45px hsla(0,0%,55%,.15);
    box-shadow: 0 15px 45px hsla(0,0%,55%,.15);
    opacity: 1;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transition: translateY(-5px)
}

.shadow {
    -ms-box-shadow: 0 15px 30px hsla(0,0%,55%,.1);
    -o-box-shadow: 0 15px 30px hsla(0,0%,55%,.1);
    box-shadow: 0 15px 30px hsla(0,0%,55%,.1)
}

.shift-up-sm-on-hover {
    transition: all .3s ease-in-out
}

.shift-up-sm-on-hover:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.shift-down-sm-on-hover {
    transition: all .3s ease-in-out
}

.shift-down-sm-on-hover:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.shift-up-on-hover {
    transition: all .3s ease-in-out
}

.shift-up-on-hover:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.shift-down-on-hover {
    transition: all .3s ease-in-out
}

.shift-down-on-hover:hover {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.lighten-shift-up-on-hover {
    opacity: 1;
    transition: all .3s ease-in-out
}

.lighten-shift-up-on-hover:hover {
    opacity: .9;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.lighten-shift-down-on-hover {
    opacity: 1;
    transition: all .3s ease-in-out
}

.lighten-shift-down-on-hover:hover {
    opacity: .9;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d6d6d6;
    background-color: hsla(0,0%,84%,.85)
}

.modal-container {
    margin: 2.5% auto;
    width: 95%;
    border-radius: .375rem;
    position: relative;
    box-shadow: 0 8px 40px 5px rgba(0,0,0,.08),0 -2px 20px rgba(0,0,0,.025)
}

.open-animation {
    -webkit-transition-timing-function: cubic-bezier(0.86,0,0.07,1);
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-animation-name: g;
    animation-name: g;
    transition-timing-function: cubic-bezier(0.86,0,0.07,1)
}

@keyframes g {
    0% {
        opacity: 0;
        margin-left: 4%;
        margin-top: .5%
    }

    0%,to {
        width: 95%
    }

    to {
        margin-left: 2.5%;
        margin-top: 2.5%;
        opacity: 1
    }
}

@-webkit-keyframes g {
    0% {
        opacity: 0;
        margin-left: 4%;
        margin-top: .5%
    }

    0%,to {
        width: 95%
    }

    to {
        margin-left: 2.5%;
        margin-top: 2.5%;
        opacity: 1
    }
}

#modal-button:focus {
    outline: 0
}

.modal-flex {
    display: block
}

@media (min-width: 490px) {
    .modal-flex {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 490px) {
    .modal-p2 {
        padding:1pc;
        padding: 1rem
    }

    .modal-px3 {
        padding-left: 2pc;
        padding-left: 2rem;
        padding-right: 2pc;
        padding-right: 2rem
    }
}

.mobile-nav-close {
    color: #ccc;
    right: 0;
    top: 0;
    position: absolute;
    text-align: right;
    font-size: 52px;
    font-weight: 200;
    line-height: 1em
}

.mobile-nav-close:focus,.mobile-nav-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.launch-btn {
    -ms-box-shadow: 0 5px 30px rgba(0,0,0,.05);
    -o-box-shadow: 0 5px 30px rgba(0,0,0,.05);
    box-shadow: 0 5px 30px rgba(0,0,0,.05);
    transition: all .2s ease-in-out;
    border: 2px solid #ff0;
    -webkit-border-image-slice: 1;
    -moz-border-image-slice: 1;
    -ms-border-image-slice: 1;
    -o-border-image-slice: 1;
    border-image-slice: 1;
    color: #ff0;
    background: #040f14
}

.launch-btn:hover {
    -ms-box-shadow: 0 5px 60px hsla(0,0%,55%,.15);
    -o-box-shadow: 0 5px 60px hsla(0,0%,55%,.15);
    box-shadow: 0 5px 60px hsla(0,0%,55%,.15);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    color: #040f14;
    background: #ff0
}

.scale-up-on-hover {
    transition: all .5s ease-in-out
}

.scale-up-on-hover:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
}

.main-content {
    -webkit-perspective: 750pt;
    -ms-perspective: 750pt;
    -o-perspective: 750pt;
    perspective: 750pt;
    width: 450px;
    height: 450px;
    display: block;
    padding: 28pc 38%;
    padding: 28rem 38%;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    margin: auto;
    background: #040f14
}

.cube-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-animation: h 8s infinite linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-15deg) rotateY(15deg);
    transform: rotateX(-15deg) rotateY(15deg);
    -webkit-animation: h 30s infinite linear;
    animation: h 30s infinite linear
}

.cube {
    position: absolute;
    opacity: .35;
    background-size: auto 100%
}

.cube-front {
    -webkit-transform: translate3d(0,0,225px);
    transform: translate3d(0,0,225px)
}

.cube-back,.cube-front {
    width: 450px;
    height: 450px;
    background-color: none
}

.cube-back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,225px);
    transform: rotateY(180deg) translate3d(0,0,225px)
}

.cube-top {
    -webkit-transform: rotateX(90deg) translate3d(0,0,225px);
    transform: rotateX(90deg) translate3d(0,0,225px)
}

.cube-bottom,.cube-top {
    width: 450px;
    height: 450px;
    background-color: none
}

.cube-bottom {
    -webkit-transform: rotateX(-90deg) translate3d(0,0,225px);
    transform: rotateX(-90deg) translate3d(0,0,225px)
}

.cube-left {
    -webkit-transform: rotateY(-90deg) translate3d(0,0,225px);
    transform: rotateY(-90deg) translate3d(0,0,225px)
}

.cube-left,.cube-right {
    width: 450px;
    height: 450px;
    left: 50%;
    margin-left: -225px;
    background-color: none
}

.cube-right {
    -webkit-transform: rotateY(90deg) translate3d(0,0,225px);
    transform: rotateY(90deg) translate3d(0,0,225px)
}

@-webkit-keyframes h {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg)
    }

    to {
        -webkit-transform: rotateY(-360deg) rotateX(-360deg);
        transform: rotateY(-360deg) rotateX(-360deg)
    }
}

.modal-live {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #040f14
}

.modal-container-live {
    width: 100%;
    height: 100%;
    position: relative
}

.modal-container-live a {
    text-decoration: none;
    color: #fff;
    transition: all .2s ease-in-out
}

.md-modal-text-live {
    font-size: 3pc;
    line-height: 3pc;
    font-weight: 600
}

@media (min-width: 47.938em) {
    .md-modal-text-live {
        font-size:5pc;
        line-height: 3pc;
        font-weight: 600
    }
}

.modal-container-live a:hover {
    color: #666
}

.mobile-nav-close-live {
    color: #ccc;
    right: 0;
    top: 0;
    position: absolute;
    text-align: right;
    font-size: 72px;
    font-weight: 200;
    line-height: 1em
}

.mobile-nav-close-live:focus,.mobile-nav-close-live:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer
}

.tablet {
    position: absolute;
    display: inline-block;
    width: 84%;
    height: 74%;
    max-width: 4in;
    overflow-y: hidden;
    padding: 2pc 0;
    padding-left: 1.85pc;
    padding-left: 29px;
    padding-left: 1.85rem;
    padding-right: 2pc;
    padding-right: 2rem;
    margin-left: .75%
}

@media (min-width: 47.938em) {
    .tablet {
        position:absolute;
        display: inline-block;
        width: 23pc;
        height: 439px;
        overflow-y: hidden;
        padding: 50px 53px;
        margin-left: 0
    }
}

@media (min-width: 488px) {
    .tablet {
        position:absolute;
        display: inline-block;
        width: 23pc;
        height: 439px;
        overflow-y: hidden;
        padding: 3pc 44px;
        margin-left: 0
    }
}

@media (min-width: 500px) {
    .tablet {
        position:absolute;
        display: inline-block;
        width: 23pc;
        height: 439px;
        overflow-y: hidden;
        padding: 52px 46px;
        margin-left: 0
    }
}
